* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

}


/* HEADER */
header {
    background-color: #ADD8E6;
    padding-bottom: 3px;
}
/* nav */
nav {
    padding: 10px 0;
}

.navbar {
    background-color: #DAA520;
    width: 60%;
    margin: auto;
    display: flex;
}

.navbar-item {
    border: 2px dashed black;
}

.logo, .login {
    width: 20%;
}

.login {
    text-align: end;
}

.menu {
    width: 60%;
    display: flex;
        justify-content: space-around;
}

/* main header */

.main-header {
    background-color: #00008B;
    padding: 35px;
    display: flex;
        justify-content: center;
}

.hotpink-box {
    background-color: #EE82EE;
    width: 40%;
    height: 310px;
    border: 2px dashed black;
}


/* MAIN */

.white {
    background-color: #FFFFFF;
}

.lightgrey {
    background-color: #D3D3D3;
}

.flex-content {
    width: 60%;
    margin: auto;
}

.split {
    height: 400px;
    display: flex;
    padding: 35px 0;
}

.blue-box {
    background-color: #1E90FF;
    width: 60%;
}

.pink-box {
    background-color: #FFC0CB;
    width: 40%;
}

.green-box {
    background-color: #228B22;
    width: 100%;
    height: 500px;
    margin: auto;
}

.pink-box, .blue-box, .green-box {
    border: 2px dashed black;
}


/* FOOTER */
footer {
    background-color: #23272A;
}

.footer-main {
    display: flex;
    width: 60%;
    margin: 0 auto 20px auto;
    padding-top: 5px;

}

.footer-left {
    background-color: #F08080;
    height: 450px;
    width: 30%;
}

.footer-right {
    background-color: #20B2AA;
    height: 450px;
    width: 70%;
}

.flex-right {
    width: 25%;
}

.logo-CTA {
    background-color: #7FFFD4;
    width: 60%;
    height: 40px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer, button {
    background-color: #FFB6C1;
    border: 2px dashed black;
    padding: 1px 3px;
}





